* {
	font-family: Book Antiqua;
	font-size: small;
	color: #5c5c5c;
	margin: 0px;
	padding: 0px;
}

body {
	background-color: #FDFDFD;
}

#body {
	border-top: 1px dashed #eeeeee;
	width: 100%;
	margin: 0 auto;
	min-height: 300px;
	padding: 10px 0;
	float: left;
}

#corpo {
	margin: 0 50 0 50px;
	padding: 5px;
	background-color: white;
	border-style: dotted;
	border-width: 0px 1px 0px 1px;
	border-color: #FFF0F5;
}

#header {
	height: 100px;
	margin: 0px;
	padding: 0px;
	border-bottom: 1px dashed #bbbbbb;
}

#logotipo {
	display: block;
	float: left;
	font-family: French Script MT;
	font-size: 45px;
	font-weight: bold;
	color: #692E1F;
	margin: 10px;
}

#pesquisa { /* 	display: inline; */
	position: absolute;
	width: 180px;
	height: 30px;
	left: 50%;
	margin-left: -90px;
	margin-top: 20px;
	text-align: center;
}

#usuario {
	color: #5c5c5c;
	display: inline;
	float: right;
	heigth: 10px;
	margin: 0px;
	padding: 0px;
	text-align: right;
}

#carrinho {
	display: block;
	padding-top: 10px;
	-moz-border-radius: 10px;
	text-align: right;	
}

#carrinho h3 a {
	color: navy;
}

#carrinho h3 {
	margin: 10px;
}

#carrinho span {
	margin: 10px;
}

#carrinho ul {
	list-style: none;
	padding-left: 10px;
}

#carrinho li {
	float: left;
	margin-right: 20px;
}

#erros {
	background-color: red;
}

#footer {
	text-align: center;	
	border-top: 1px solid gray;
	clear: both;
}

#preco {
	color: red;
}

#content {
	float: left;
	padding-left: 10px;
}

#menu { 
	float: right;
	width: 200px;
	display: block;
}

#menu>ul {
	list-style: none;
	padding-left: 5px;
	background-color: #2a2948;
	-moz-border-radius: 0 5px 5px 0;
}

#menu>ul>li {
	display: inline;
	border-top: 2px solid white;
	height: 23px;
	padding: 5px 0;
}

#menu>ul>li:hover {
	background-color: #5d5c7B;
}

#menu>ul>li:last-child {
	-moz-border-radius: 0 0 5px 0;
}

#menu>ul>li:first-child {
	-moz-border-radius: 0 5px 0 0;
	border-top: none;
}

#menu li a {
	color: white;
	text-decoration: none;
}

.link {
	text-decoration: underline;
	border: none;
	background: none;
	color: red;
	cursor: pointer;
	padding: 0;
	margin: 0;
}

input:FOCUS,textarea:FOCUS {
	background-color: #e7ecf1;
	border: 1px solid gray;
	-moz-border-radius: 2px;
	padding: 1px;
}

input,label,textarea {
	display: block;
}

input.qtde {
	display: inline;
	width: 2em;
}

.hint {
	color: gray;
	font-size: 10pt;
}

label.error {
	color: red;
}

fieldset {
	border: none;
	padding: 10px;
	width: 1000px;
	border-top: 3px solid #692E1F;
}

fieldset legend {
	border: 1px solid #692E1F;
	-moz-border-radius: 3px;
	background-color: #692E1F;
	font-weight: bold;
	padding: 3px;
	margin-bottom: 15px;
	font-size: 16pt;
	color: #FFFFFF;
}

table thead {
	background-color: #2a2948;
	color: white;
	font-weight: bold;
}

table tbody tr:nth-child(even) {
	background-color: #a29bc0;
}

table tbody td {
	vertical-align: text-bottom;
}

table tfoot th {
	background-color: #2a2948;
	color: white;
	font-weight: bold;
}

button {
	cursor: pointer;
}

ul.produtos {
	width: 100%;
	padding: 0;
	margin: 10px 0;
	list-style: none;
	text-align: center;
}

ul.produtos li {
	float: left;
	width: 200px; /*Set default width*/
	padding: 0;
	margin: 5px 0;
	display: inline;
}

.produto {
	height: 355px;
	font-size: 1em;
	margin-right: 10px; /*Creates the 10px gap between each column*/
	padding: 20px;
}

.produto h2 {
	font-size: 1.8em;
}

.produto img { /*Flexible image size with border*/
	width: 89%; /*Took 1% off of the width to prevent IE6 bug*/
	padding: 5%;
	margin: 0 auto;
	display: block;
	-ms-interpolation-mode: bicubic;
	/*prevents image pixelation for IE 6/7 */
}